<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @bananer.image %>
</p>

<p>
  <b>Describe:</b>
  <%= @bananer.describe %>
</p>

<p>
  <b>Button:</b>
  <%= @bananer.button %>
</p>

<p>
  <b>Url:</b>
  <%= @bananer.url %>
</p>


<%= link_to 'Edit', edit_bananer_path(@bananer) %> |
<%= link_to 'Back', bananers_path %>
