<!-- 首页界面 -->
<aside>
<div class="nav-list">
	<%= render "products/nav_list" %>
</div>
<div class="index-image">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<% @bananers.each_with_index do |bananer,index| %>
				<% if bananer.id == 1 %>
					<div class="item active">	
					<% else %>
						<div class="item">
						<% end %>
						<img src="<%= bananer.image %>" alt="" style="margin: auto">
						<div class="container">
							<div class="carousel-caption">
								<p class="lead"><%= bananer.describe %></p>
								<% if bananer.button.empty? %>
								<% else %>
									<a class="btn btn-primary" href="<%= bananer.url %>"><%= bananer.button %> </a>
								<% end %>
							</div>
						</div>   
					</div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->
	</div>
<div class="index_show_product">
	<img src="assets/4.jpg" />
	<img src="assets/4.jpg" />
	<img src="assets/4.jpg" />
	<img src="assets/4.jpg" />
</div>
<div class="index_desc">
	<div class="right-desc">
	<h3>关于我们</h3>
		<% About.limit(1).each do |about| %>
			<p>	<%= link_to image_tag(about.image_url), about %>
			<%= truncate(strip_tags(about.content),:length => 180) %></p>
		<% end %>
		</div>	
		<div class="right-desc">
			<h3>公司最新动态</h3>
			<%= render partial: 'companies/company_list', locals: {companies: @companies} %>
	</div>
<div class="right-desc">
	<h3>经典案例</h3>
	<% About.last(1).each do |about| %>
		<p><%= link_to image_tag(about.image_url), about %>
		<%= truncate(strip_tags(about.content), length: 150) %>
	<% end %>	
	</div>

</div>
</aside>
<div class="index-category">
	<h3>热门标签</h3>
	<% Category.all.each do |cate| %>
		|<b>	<%= link_to cate.name, category_path(cate.id) %></b> 
		<% cate.tags.each do |tag| %>
			| <%= link_to tag.name, category_path(tag.id) %> 
			<% tag.lists.each do |list| %>
				| <%= link_to list.name, products_path(t:list) %>
			<% end %>
		<% end %>
	<% end %>
</div>
<!-- 首页界面 -->

