<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @about.title %>
</p>

<p>
  <b>Content:</b>
  <%=  raw @about.content %>
</p>

<p>
  <b>Image:</b>
  <%= @about.image %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
