<%= form_for(@product, html: {multipart: true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
		<%= f.label :content %><br />
		<%= javascript_include_tag "ckeditor/ckeditor.js" %>  
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
		<%= f.fields_for :pictures do |pic| %>
			<%= pic.label :imag %>
			<%= pic.file_field :image %>
		<% end %>
  </div>
	<div class="field">
		<%= f.fields_for :videos do |video| %>
			<%= video.label :video %>
			<%= video.file_field :video %>
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
