<h1 style="margin-top: 10px">Listing products</h1>

<p>
<%= l Time.now,:format => :long  %>
</p>
<%= render 'nav_list' %>
<div class="products-list">
	<%= render partial: 'products/list', locals: {products: @products} %>
</div>
<%= will_paginate @products %>
<div style="clear:both">
	<%= link_to 'New Product', new_product_path %>
</div>

