<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Number:</b>
  <%= @product.number %>
</p>

<p>
  <b>Content:</b>
  <%= @product.content %>
</p>
<%= render 'show_product' %>

<%= link_to 'shanchu', product_path, method: :delete, data: {confirm: "Are you sure"} %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

