#encoding:utf-8
<!DOCTYPE html>
<html>
<head>
  <title>Yehkevin</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<div class="gp-log">
		<img src="assets/robt.png" />
		<h2>工业设备专家</h2><br />
		<b><i class="icon-plus"> </i>便捷订购</b>
		<b><i class="icon-plus"> </i>一站式服务</b>
		<b><i class="icon-plus"> </i>致力于服务企业客户</b>
		<span>咨询电话：400 8826 918</span>
		<div class="user-login">
			<% if current_user %>
			<% if user_signed_in? %>
			<%= link_to current_user.email, member_path %>|
				<%= link_to "注销",destroy_user_session_path, method: :delete %>
				<%= link_to "修改密码", edit_registration_path(:user) %>
				<% end %>
			<% else %>
				<%= link_to "注册", new_registration_path(:user) %> | 
				<%= link_to "登录", new_session_path(:user) %>
			<% end %>
		</div>
				</div>
		<div class="header">
			<ul class="nav">
				<li><%= link_to t('.home'), home_path %></li>
				<li><%= link_to t('.products'), products_path  %></li>
				<li><%= link_to t('.customer'), customers_path %></li>
				<li><%= link_to t('.about'), abouts_path %></li>
				<li><%= link_to t('.new'), companies_path %></li>
				<li><%= link_to t('.contact'), contact_path %></li>
				<li>	<form action="/search" method="get">
					<input type="text" name="q" value="" placeholder="输入产品" />
				</form></li>
			</ul>
		</div>
		<div class="keyword">
			<div class="notice-alert">
				<% if notice %>
					<span class="notice"><%= notice %></span>
				<% else %>
					<b class="alert"><%= alert %></b>
				<% end %>
			</div>
			<%= t('.keyword') %>:<a href="#">高空作业平台</a><a href="#">高空作业平台</a><a href="#">高空作业平台</a><a href="#">高空作业平台</a>
		</div>
		</header>

<%= yield %>
<footer>
</footer>
</body>
<div class="returnTop" title="返回顶部！">
	  <span class="s"></span>
		  <span class="b"></span>
			  返回顶部
			</div>

</html>
